body {
    background: #008E97;
    background: linear-gradient(0deg, rgba(0, 142, 151, 1) 0%, rgba(252, 76, 2, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
  font-size: clamp(2.5rem, 4vw + 1.5rem, 3.75rem);
}

.fascinate {
  font-family: "Fascinate";
  font-weight: 900;
}

img {
  position: relative;
  top: 10px;
  left: 20px;
}


h2 {
    font-size: 80px;
    color: white;
    bottom: 10px;
    right: 10px;
    font-size: clamp(2.5rem, 4vw + 1.5rem, 3.75rem);
}

h3 {
  font-size: 80px;
  color: orangered;
  font-size: clamp(2.5rem, 4vw + 1.5rem, 3.75rem);
}

h4 {
  font-size: 80px;
  color: aqua;
  font-size: clamp(2.5rem, 4vw + 1.5rem, 3.75rem);
}

.rubik {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}




